@font-face {
    font-family: "Forza";
    font-weight: bold;
    src:url("../fonts/Forza-Bold.otf");
}

@font-face {
    font-family: "Forza";
    src:url("../fonts/Forza-Light.otf");
}

@font-face {
    font-family: "Forza";
    font-weight: normal;
    src:url("../fonts/Forza-Book.otf");
}

// CUSTOM VARIABLES
//===========================
// Fonts
//===========================
$global-font-family: 'Source Sans Pro', sans-serif;
$base-heading-font-family: 'Forza', sans-serif;

//===========================
// Button
//===========================
$button-large-font-size: 1.5em;
$button-font-size: 1.1em;

$button-primary-background: #7456E2;
$button-primary-color: white;

$button-default-hover-background: #7456E2;
$button-default-hover-color: white;
$button-default-active-background: #7456E2;
$button-default-active-color: white;

//===========================
// Logo
//===========================
$logo-font-family: 'Forza';
$logo-color: white;
$logo-hover-color: white;

//===========================
// Navbar
//===========================
$navbar-background: #1F2324;

$navbar-nav-item-padding-horizontal: 40px;
$navbar-nav-item-color: white;
$navbar-nav-item-hover-color: white;
$navbar-nav-item-onclick-color: white;
$navbar-nav-item-active-color: white;

$navbar-item-color: white;

$navbar-nav-item-font-family: 'Forza';


// Import default variables and available mixins.
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";


// Custom mixin overwrites.

//===========================
// Logo
//===========================
@mixin hook-button(){
    font-family: 'Forza';
}

//===========================
// Logo
//===========================
@mixin hook-logo(){
    font-weight: bold;
}

//===========================
// Navbar
//===========================
@mixin hook-navbar-nav-item-active(){
    border-bottom: 5px solid #7456E2;
}

@mixin hook-navbar-nav-item-hover(){
    border-bottom: 5px solid #7456E2;
}


//===========================
// Cover
//===========================
@mixin hook-card() { color: #000; }
@mixin hook-overlay() {  
    color: white;
}

// Import UIkit.
@import "node_modules/uikit/src/scss/uikit-theme.scss";


// Custom CSS
//===========================
// Global
//===========================
.vertical-align-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
}


//===========================
// Cover
//===========================
.cover-text{
    font-size: 4.4em;
    font-family: 'Forza';
    font-weight: bold;
    line-height: 100%;
}

.cover-text-mobile{
    font-size: 2.4em;
    font-family: 'Forza';
    font-weight: bold;
    line-height: 100%;
}

.cover-subtext{
    font-size: 1.2em;
}

//===========================
// About
//===========================
.about-img{
    display: block;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.about-header{
    font-family: 'Forza';
    font-weight: bold;
}

.about-paragraph{
    border-left: 4px solid #7456E2;
}

.about-paragraph > p{
    padding-left:20px;
}

//===========================
// Report
//===========================
.hidden{
    display: none;
}

.report-header{
    font-weight: normal;
}

.clicked{
    background: #7456E2;
    color: white;
}

.report-notice-container{
    border: 1px solid #7456E2; 
    padding: 14px;
}

.report-notice{
    background:#7456E2;
    color: white;
    font-size: 1.6em;
    font-family: 'Forza';
    font-weight: normal;
    padding: 25px;
}

.thanks-notice-container{
    border: 1px solid #7456E2; 
    padding: 10px;
}

.thanks-notice{
    color: black;
    font-size: 1.6em;
    font-family: 'Forza';
    font-weight: normal;
    padding: 6px;
}

.thanks-notice > span{
    font-weight: bold;
}